*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: monospace;
    /* background: url('profile.png'); */
    background-image: url(images/background.png);
    background-size: cover;
    /* background-size: cover; */
    background-position:  center;
    /* background-size: cover; */
    background-position: center;
  }
  
  .social-media a{
    width: 20px;
    margin: 30px 10px;
    cursor:pointer;
  }
  /* Profile page related */
  .container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .profile-box{
    background: #008d26cd;
    text-align:center;
    padding: 40px 90px;
    color: #fff;
    position:relative;
    border-radius: 20px;
    /* cursor: pointer; */
  }

  .menu-icon{
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
  }

  .setting-icon{
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
  }

  .profile-pic{
    width: 425px;
    border-radius: 50%;
    background: #fff;
    padding: 15px;
  }

 /* Profile page related ^ */
  .search-bar{
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding: 14px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }

  .search-bar:focus{
    width: 100%;
  }


  .form .college-wrapper{
    text-align: left;
  }
  
  .profile{
    padding-top:225px
    
  }

  .profdiv{
    padding-top:225px;
  }

  .h1{
    padding: top 1px;
  }
  .card-body{
    overflow: hidden;
    align-items:flex;
  }

.wall-div{
    margin-bottom: 25px;
}

  .card-wrapper{
    align-content: center;
    height:flex; 
    display: grid;
    padding-left: 200px;
    grid-template-columns: repeat(3, 1fr);  
    grid-auto-rows: auto; 
    grid-gap: 50px;
    margin-top: 50px;
    grid-column-gap: 100px;
    margin-bottom: 25px;
    
     
    /* background-color: darkslateblue; */
  }

  .login-wrapper{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .form{
    position:relative;
    width: 200%;
    max-width: 480px;
    padding: 80px 40px 40px;
    background: #373761;
    border-radius: 5px;
    color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,1.0);
    
   
  }
  
  .form::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #11ec0a00;
    border-radius: 10px;
    color: white;
    pointer-events: none;
  }
  
  .form h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: green;
    pointer-events: none;
  }
  
  .form .input-group{
    position: relative;
  }
  
  .form .input-group input{
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color:inherit;
    transition: .3s ease-out;
    font-family: monospace;
  }
  
  .form .input-group label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
  }
  
  
  .form .input-group input:focus + label,
  .form .input-group input:valid + label{
    transform: translateY(-18px);
    color: green;
    font-size: .8rem;
  }
  
  .submit-btn{
    display:  block;
    margin-left: auto;
    border: none;
    outline: none;
    background: green;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
   
    font-size: 26px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
 

  .submit-btn2{
    display:  block;
    margin-left: auto;
    border: none;
    outline: none;
    background: green;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing 1px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 250px;
    cursor: pointer;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(39, 55, 161);
    
  }
  
  .navbar > a {
    float: left;
    color: rgb(151, 174, 36);
    text-align: center;
    padding: 16px 16px;
    font-size: 18px;
  }
  
  .navbar > a:hover {
    background-color: greenyellow;
    color: black;
  }
  
  .navbar > a.active {
    background-color: #758aff;
    color: greenyellow;
  }
  
    header{
      padding: 60px;
      align-items: center;
      text-align: center;
      color: black;
      font-weight:bolder;
      font-size: 35px;
  
      font-style: oblique;
      
   
    }
  
    header2{
      padding: 60px;
      align-items: center;
      text-align: center;
      color: black;
      font-weight:bolder;
      font-size: 35px;
  
      font-style: oblique;
      
   
    }
  
    textarea{
      width: 800px;
      height: 250px;
    }
  
    h1 {
      color: black;
      font-weight: lighter;
      font-weight: 400;
      font-style: oblique;
      width: auto;
      text-align: center;
    }
  
    
  
    @keyframes myframes {
      0%
      {
          background-color:blue;
      }
  
      100%
      {
          background-color:yellow;
      }
  
  }

  .dropbtn {
    background-color: #f7f306;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    width: 290px;
    border: none;
    /* position:fixed; */
  }
  
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}