body {
    animation-name: myframes;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    align-items: center;
}

h1{

}

.button1{
background-color: white;
color: black;
border: 3px solid;

}

.button:hover{
background-color: brown;
color: white;

}

  h1 {
    color: black;
    font-weight: lighter;
    font-weight: 400;
    font-style: oblique;
  }

  @keyframes myframes {
    0%
    {
        background-color:blue;
    }

    100%
    {
        background-color:yellow;
    }

}